<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Health-Blog</title>

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="/static/blog.css">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
</head>

<body class="light-theme">

  <main>

    <!--
      - #HERO SECTION
    -->

    <div class="hero">

      <div class="container">

        <div class="left">

          <h1 class="h1">
            Hi, I'm <b>Health&nbsp;AI</b>
            <br>Medicine Recommended System
          </h1>

          

          <div class="btn-group">
            <a href="contact.html" class="btn btn-primary">Contact Me</a>
            <a href="about.html" class="btn btn-secondary">About Me</a>
          </div>

        </div>

        <div class="right">

          <div class="pattern-bg"></div>
          <div class="img-box">
            <img src="/static/A1.png" alt="Health-AI" class="hero-img">
            <div class="shape shape-1"></div>
            <div class="shape shape-2"></div>
          </div>

        </div>

      </div>

    </div>

    <div class="main">

      <div class="container">

        <!--
          - BLOG SECTION
        -->

        <div class="blog">

          <h2 class="h2">Latest Blog Post</h2>

          <div class="blog-card-group">

            <div class="blog-card">

              <div class="blog-card-banner">
                <img src="/static/blog1.jpg" alt="Building microservices with Dropwizard, MongoDB & Docker"
                  width="250" class="blog-banner-img">
              </div>

              <div class="blog-content-wrapper">

                <button class="blog-topic text-tiny">Staying Healthy</button>

                <h3>
                  <a href="#" class="h3">
                    Can AI answer medical questions better than your doctor?
                  </a>
                </h3>

                <p class="blog-text">
                  When a study asked doctors and artificial intelligence to respond to selected patient questions, a chatbot received higher ratings for empathy and quality. But a closer look at the research spotlights important limitations and findings.
                </p>

                <div class="wrapper-flex">

                  <div class="profile-wrapper">
                    <img src="/static/A1.png" alt="Health-AI" width="50">
                  </div>

                  <div class="wrapper">
                    <a href="#" class="h4">Health-AI</a>

                    <p class="text-sm">
                      <time datetime="2022-01-17">March 24, 2024</time>
                      <span class="separator"></span>
                      <ion-icon name="time-outline"></ion-icon>
                      <time datetime="PT3M">3 min</time>
                    </p>
                  </div>

                </div>

              </div>

            </div>


            <div class="blog-card">

              <div class="blog-card-banner">
                <img src="/static/blog2.jpg" alt="Building microservices with Dropwizard, MongoDB & Docker"
                  width="250" class="blog-banner-img">
              </div>

              <div class="blog-content-wrapper">

                <button class="blog-topic text-tiny">Staying Healthy</button>

                <h3>
                  <a href="#" class="h3">
                    How well do you worry about your health?
                  </a>
                </h3>

                <p class="blog-text">
                  It's impossible to never worry about your health — but are you worrying about the right things? Popular fears and Google and TikTok searches suggest our top concerns may bypass common health issues. So what should concern us and what can we do about it?
                </p>

                <div class="wrapper-flex">

                  <div class="profile-wrapper">
                    <img src="/static/A1.png" alt="Health-AI" width="50">
                  </div>

                  <div class="wrapper">
                    <a href="#" class="h4">Health-AI</a>

                    <p class="text-sm">
                      <time datetime="2022-01-17">March 20, 2024</time>
                      <span class="separator"></span>
                      <ion-icon name="time-outline"></ion-icon>
                      <time datetime="PT3M">3 min</time>
                    </p>
                  </div>

                </div>

              </div>

            </div>


            <div class="blog-card">

              <div class="blog-card-banner">
                <img src="/static/blog3.jpg" alt="Building microservices with Dropwizard, MongoDB & Docker"
                  width="250" class="blog-banner-img">
              </div>

              <div class="blog-content-wrapper">

                <button class="blog-topic text-tiny">Staying Healthy</button>

                <h3>
                  <a href="#" class="h3">
                    Does drinking water before meals really help you lose weight?
                  </a>
                </h3>

                <p class="blog-text">
                  If you've ever tried to lose weight, you've probably heard the advice to drink water before a meal because it makes you feel fuller and you'll stop eating sooner. It seems like a reasonable idea — but does it work? And if it doesn't, why do people think it does?
                </p>

                <div class="wrapper-flex">

                  <div class="profile-wrapper">
                    <img src="/static/A1.png" alt="Health-AI" width="50">
                  </div>

                  <div class="wrapper">
                    <a href="#" class="h4">Health-AI</a>

                    <p class="text-sm">
                      <time datetime="2022-01-17">February 20, 2024</time>
                      <span class="separator"></span>
                      <ion-icon name="time-outline"></ion-icon>
                      <time datetime="PT3M">3 min</time>
                    </p>
                  </div>

                </div>

              </div>

            </div>
            <!--
          - ASIDE
        -->

        <div class="aside">
          <div class="newsletter">

            <h2 class="h2">Newsletter</h2>

            <div class="wrapper">

              <p>
                Subscribe to our newsletter to be among the first to keep up with the latest updates.
              </p>

              <form action="#">
                <input type="email" name="email" placeholder="Email Address" required>

                <button type="submit" class="btn btn-primary">Subscribe</button>
              </form>

            </div>

          </div>

        </div>

      </div>

    </div>

  </main>
